<h1>My Cake App</h1>
<p>Little John was a boy that loved cake. He loved it so much that he decided to create an app just to catalog his caking experiences.</p>
<p>Your <strong class="text-danger">requisites</strong> are:</p>
<ul class="list-group">
  <li class="list-group-item">1. Display a grid view catalog of cakes reading the file cakes.json [<a href="/assets/cakes.json" target="_blank">cakelist</a>]</li>
  <li class="list-group-item">2. Display a detailed page for the selected cake.</li>
</ul>
<p><strong class="text-primary">Bonus</strong> objectives:</p>
<ul class="list-group">
  <li class="list-group-item">3. Create the functionality for adding or removing a cake. <i>(You can add comments to your code to simulate making HTTP requests to an API to save it on the server)</i></li>
  <li class="list-group-item">4. Optimize your components so they don't make unecessary requests to the Cake API <i>(Reading the cake file should be interpreted as making a GET request to an API)</i></li>
</ul>
<p>Optional objective:</p>
<ul class="list-group">
  <li class="list-group-item">5. The app should be optmized to work with the file cakes-10000.json [<a href="/assets/cakes-10000.json" target="_blank">10000 Cakes</a>]</li>
</ul>
<p><button mat-raised-button color="accent" class="btn-lg" routerLink="/catalog" >Open Catalog</button></p>
<p><span class="small"><strong>IMPORTANT: </strong>the front-end of your solution must have a nice appearance, don't think only as a programmer. It should also be responsive.</span></p>
<p>
  References:<br/>
  <span class="small">[1] <a href="https://angular.io/docs/" target="_blank">https://angular.io/docs/</a></span><br/>
  <span class="small">[2] <a href="https://material.angular.io/" target="_blank">https://material.angular.io/</a></span><br/>
  <span class="small">[3] <a href="https://getbootstrap.com/docs/5.1/" target="_blank">https://getbootstrap.com/docs/5.1/</a></span><br/>
</p>
